@model MvcApplication4.Models.ComentarioAlquileres

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ComentarioAlquileres</legend>

    <div class="display-label">Alquiler</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Alquiler.IdAlquiler)
    </div>

    <div class="display-label">Usuario</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Usuario.Nombre)
    </div>

    <div class="display-label">Comentario</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comentario)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
