@{
    ViewBag.Title = "¿Cómo Funciona?";
}


 <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TWFS7T"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
        'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
    '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-TWFS7T');</script>
    <!-- End Google Tag Manager -->

    
<div class="wrapper">

   
        <!-- ============================================================= TOP NAVIGATION ============================================================= -->

<!-- ============================================================= TOP NAVIGATION : END ============================================================= -->       
<!-- ============================================================= HEADER ============================================================= -->

<!-- ============================================================= HEADER : END ============================================================= --><div class="animate-dropdown"><!-- ========================================= BREADCRUMB ========================================= -->
  
        <!-- ========================================= MAIN ========================================= -->
<main id="faq" class="inner-bottom-md">
    <div class="container">
        
         
        <section class="section">
            <div class="page-header" style="margin-bottom: 30px;">
                
                <h2 class="page-title" style="color:black">¿Cómo Funciona?</h2>
                
            </div>

            <div class="info-404 text-left" style="margin-bottom: 80px;">
                    <p class="lead" style="text-align: center;font-size: large;font-weight: bold;">
                         Alquilar un artículo

                    </p>

                <p class="lead" style="text-align: center;font-size: large;font-weight: normal;">
                         <strong class="primary-color inner-bottom-xs">1.</strong> Selecciona el artículo que te interesó.<br />
                        <strong class="primary-color inner-bottom-xs">2.</strong> Contacta al propietario y realiza las consultas que consideres necesarias.<br />
                        <strong class="primary-color inner-bottom-xs">3.</strong> Acuerda un lugar para el retiro y la devolución, y haz la reserva.<br />

                    </p>
             </div>


            <div class="info-404 text-left" style="margin-bottom: 80px;">
                    <p class="lead" style="text-align: center;font-size: large;font-weight: bold;">
                         Publicar tus cosas

                    </p>

                <p class="lead" style="text-align: center;font-size: large;font-weight: normal;">
                         <strong class="primary-color inner-bottom-xs">1.</strong> Publica los artículos que usas poco y que deseas compartir.<br />
                        <strong class="primary-color inner-bottom-xs">2.</strong> Define tus propias garantías.<br />
                        <strong class="primary-color inner-bottom-xs">3.</strong> Disfruta tu dinero.<br />

                    </p>
             </div>

           @* <div class="info-404 text-left" style="margin-bottom: 80px;">
                    <p class="lead" style="text-align: center;font-size: large;font-weight: normal;">
                         ¿No tienes tiempo de sacar las fotos de tus artículos? ¿La fotografía no es tu fuerte?<br />
                        </p>
                <p class="lead" style="text-align: center;font-size: large;font-weight: bold;">
                        No te preocupes. Utiliza nuestro servicio de fotografía profesional gratis 

                    </p>

               
             </div>*@

            <div class="info-404 text-left" style="margin-bottom: 80px;">
                    <p class="lead" style="text-align: center;font-size: large;font-weight: normal;">
                         ¿Tienes cajas llenas de cosas ocupando espacio y acumulando polvo?<br />
                        </p>
                <p class="lead" style="text-align: center;font-size: large;font-weight: bold;">
                        Consúltanos sobre nuestro <a href="@Url.Content("~/Home/BannerServicioPremium")">Servicio Premium</a>

                    </p>

               
             </div>

            @*<div class="info-404 text-left" style="margin-bottom: 80px;">
                    <p class="lead" style="text-align: center;font-size: large;font-weight: bold;">
                         Te damos la bienvenida a la comunidad exclusiva para alquilar <br />
artículos, accesorios, bienes y mucho más.<br />
Y además te contamos qué fácil es publicar y obtener buenos resultados.<br />

                    </p>
             </div>
             <div class="col-xs-6 col-sm-4 col-md-3" style="display: table;border-radius: 50%;border: 8px solid #5690F0;height:250px; margin-right: 138px;margin-left: 72px; width:250px">
                 <div style="vertical-align: middle;display: table-cell;">      
  <div style="text-align: center;color: #5690F0;font-size: xx-large;font-weight: 900;">
                                        
                        1
                    </div>
                    <div style="text-align: center;color: #5690F0;font-size: x-large;">
                                        
                        Publica tus artículos
                    </div>
                </div>
                            
             </div>
             <div class="col-xs-6 col-sm-4 col-md-3" style="display: table;border-radius: 50%;border: 8px solid #5690F0;height:250px; width:250px">
                 <div style="vertical-align: middle;display: table-cell;">   
  <div style="text-align: center;color: #5690F0;font-size: xx-large;font-weight: 900;">
                                        
                        2
                    </div>
                    <div style="text-align: center;color: #5690F0;font-size: x-large;">
                                        
                        Define tus propias garantías
                    </div>
                </div>
                            
             </div>
             <div class="col-xs-6 col-sm-4 col-md-3" style="display: table;border-radius: 50%;border: 8px solid #5690F0;height:250px; margin-left: 138px; width:250px">
                 <div style="vertical-align: middle;display: table-cell;">      
  <div style="text-align: center;color: #5690F0;font-size: xx-large;font-weight: 900;">
                                        
                        3
                    </div>
                    <div style="text-align: center;color: #5690F0;font-size: x-large;">
                                        
                        Disfruta<br /> tu dinero
                    </div>
                </div>
                            
             </div>

            <div class="col-xs-4 col-sm-4 col-md-4" style="margin-top: 30px;">
                 <div style="vertical-align: middle;display: table-cell;">      
  
                    <div style="text-align: center;color: black;font-size: large;">
                                        
                        Elige cosas que usas poco y que desees compartir. Si tienes poco tiempo, usa imágenes de internet como referencia.
                    </div>
                </div>
                            
             </div>
             <div class="col-xs-4 col-sm-4 col-md-4" style="margin-top: 30px;" >
                 <div style="vertical-align: middle;display: table-cell;">   
  
                    <div style="text-align: center;color: black;font-size: large;">
                                        
                        Queremos que te sientas seguro en todo momento. Por eso tú eliges los requisitos, el monto de la garantía y las condiciones del alquiler.
                    </div>
                </div>
                            
             </div>
             <div class="col-xs-4 col-sm-4 col-md-4" style="margin-top: 30px;">
                 <div style="vertical-align: middle;display: table-cell;">      
 
                    <div style="text-align: center;color: black;font-size: large;">
                                        
                        Pronto tendrás tu artículo de nuevo en casa. Ya estás listo para la llegada de un nuevo alquiler.
                    </div>
                </div>
                            
             </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="margin-top: 30px;text-align:center">
                @Html.ActionLink("Publicar ahora", "CreateProduct", "Home", null, new { @class = "le-button" })
            </div>*@
            <!-- /.panel-group -->
        </section>

    </div><!-- /.container -->
</main><!-- /.inner-bottom-md -->

    </div>
    </div>

<!-- ========================================= MAIN : END ========================================= -->     
        <!-- ============================================================= FOOTER ============================================================= -->

