

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TWFS7T"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
        'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
    '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-TWFS7T');</script>
    <!-- End Google Tag Manager -->

    <div class="wrapper">

        

        <!-- ============================================================= TOP NAVIGATION ============================================================= -->

<!-- ============================================================= TOP NAVIGATION : END ============================================================= -->       
<!-- ============================================================= HEADER ============================================================= -->

<!-- ============================================================= HEADER : END ============================================================= --><div class="animate-dropdown"><!-- ========================================= BREADCRUMB ========================================= -->
  
        <!-- ========================================= MAIN ========================================= -->
<main id="faq" class="inner-bottom-md">
    <div class="container">
        
         <section class="section">
            <div class="page-header">
                @*<h2 class="page-title">Preguntas frecuentes</h2>*@
                <h2 class="page-title" style="color:black">Acerca del prototipo</h2>
                @*<p class="page-subtitle">Ultima actualización 18 de Julio del 2015</p>*@
            </div>
            <div id="questions" class="panel-group panel-group-faq">
                
                <div class="panel panel-faq" style="opacity: 0.9;">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#questions" href="#collapse9">
                                Acerca del prototipo
                            </a>
                        </h4>
                    </div>
                    <div id="collapse9" class="panel-collapse collapse in">
                        <div class="panel-body">
                            - Usted estará siendo miembro de un grupo cerrado de usuarios previamente seleccionados.<br>

                            - El número de participantes es limitado.<br>

                            - La prueba de testeo se extenderá durante el resto del año 2015.<br>

                            - MLA no cobrará ningún tipo de arancel durante el tiempo que dure el testeo.<br>

                            - Están prohibidos los datos personales dentro de los anuncios tanto así como dentro de la comunicación con los usuarios interesados.<br>

                            - Toda transacción debe ser ejecutada dentro del sitio.<br>
                        </div>
                    </div>
                </div><!-- /.panel-faq -->
                
            </div><!-- /.panel-group -->
        </section><!-- /.section -->


    </div><!-- /.container -->
</main><!-- /.inner-bottom-md -->
<!-- ========================================= MAIN : END ========================================= -->     
        <!-- ============================================================= FOOTER ============================================================= -->
