@{
    ViewBag.Title = "Conocenos";
}

   <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TWFS7T"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
        'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
    '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-TWFS7T');</script>
    <!-- End Google Tag Manager -->
   
<div class="wrapper">

  
        <!-- ============================================================= TOP NAVIGATION ============================================================= -->

<!-- ============================================================= TOP NAVIGATION : END ============================================================= -->       
<!-- ============================================================= HEADER ============================================================= -->

<!-- ============================================================= HEADER : END ============================================================= --><div class="animate-dropdown"><!-- ========================================= BREADCRUMB ========================================= -->
  
        <!-- ========================================= MAIN ========================================= -->
<main id="faq" class="inner-bottom-md">
    <div class="container">
        
         
        <section class="section">
            <div class="page-header" style="margin-bottom: 30px;">
                
                <h2 class="page-title" style="color:black">Conoce más de nosotros</h2>
                
            </div>

            <div class="info-404 text-left" style="margin-bottom: 80px;">
                    <p class="lead" style="text-align: center;font-size: large;font-weight: bold;">
                         Mejor lo alquilo
                    </p>

                <p class="lead" style="text-align: center;font-size: large;font-weight: normal;">
                    La plataforma online de alquiler de artículos, accesorios, bienes y mucho más.
                        
                    </p>
             </div>


            <div class="info-404 text-left" style="margin-bottom: 80px;">
                    <p class="lead" style="text-align: center;font-size: large;font-weight: bold;">
                         Cuando alquilas lo que necesitas:

                    </p>

                <p class="lead" style="text-align: center;font-size: large;font-weight: normal;">
                        <strong class="primary-color inner-bottom-xs">+</strong> Evitas comprar artículos que usarás una sola vez.<br />
                        <strong class="primary-color inner-bottom-xs">+</strong> Ahorras mucho dinero.<br />
                        <strong class="primary-color inner-bottom-xs">+</strong> Realizas un consumo inteligente.<br />
                        <strong class="primary-color inner-bottom-xs">+</strong> Cuidas el medio ambiente.<br />
                        <strong class="primary-color inner-bottom-xs">+</strong> Experimentas más con mucho menos.<br />
                    
                    </p>
             </div>

            <div class="info-404 text-left" style="margin-bottom: 80px;">
                    <p class="lead" style="text-align: center;font-size: large;font-weight: bold;">
                         Cuando publicas lo que usas poco:

                    </p>

                <p class="lead" style="text-align: center;font-size: large;font-weight: normal;">
                        <strong class="primary-color inner-bottom-xs">+</strong> Recuperas el costo de tus compras.<br />
                        <strong class="primary-color inner-bottom-xs">+</strong> Te quedas tranquilo: eliges tus propias garantías.<br />
                        <strong class="primary-color inner-bottom-xs">+</strong> Las cosas siguen siendo tuyas.<br />
                        <strong class="primary-color inner-bottom-xs">+</strong> Liberas espacio en casa.<br />
                        
                    
                    </p>
             </div>

            <div class="info-404 text-left" style="margin-bottom: 80px;">
                    <p class="lead" style="text-align: center;font-size: large;font-weight: bold;">
                         Conecta con miles de personas en todo el país y forma parte de la gran comunidad de Mejorloalquilo.com<br />
                        </p>
               

               
             </div>

            @*<div class="info-404 text-left" style="margin-bottom: 80px;">
                    <p class="lead" style="text-align: center;font-size: large;font-weight: bold;">
                         Te damos la bienvenida a la comunidad exclusiva para alquilar <br />
artículos, accesorios, bienes y mucho más.<br />
Y además te contamos qué fácil es publicar y obtener buenos resultados.<br />

                    </p>
             </div>
             <div class="col-xs-6 col-sm-4 col-md-3" style="display: table;border-radius: 50%;border: 8px solid #5690F0;height:250px; margin-right: 138px;margin-left: 72px; width:250px">
                 <div style="vertical-align: middle;display: table-cell;">      
  <div style="text-align: center;color: #5690F0;font-size: xx-large;font-weight: 900;">
                                        
                        1
                    </div>
                    <div style="text-align: center;color: #5690F0;font-size: x-large;">
                                        
                        Publica tus artículos
                    </div>
                </div>
                            
             </div>
             <div class="col-xs-6 col-sm-4 col-md-3" style="display: table;border-radius: 50%;border: 8px solid #5690F0;height:250px; width:250px">
                 <div style="vertical-align: middle;display: table-cell;">   
  <div style="text-align: center;color: #5690F0;font-size: xx-large;font-weight: 900;">
                                        
                        2
                    </div>
                    <div style="text-align: center;color: #5690F0;font-size: x-large;">
                                        
                        Define tus propias garantías
                    </div>
                </div>
                            
             </div>
             <div class="col-xs-6 col-sm-4 col-md-3" style="display: table;border-radius: 50%;border: 8px solid #5690F0;height:250px; margin-left: 138px; width:250px">
                 <div style="vertical-align: middle;display: table-cell;">      
  <div style="text-align: center;color: #5690F0;font-size: xx-large;font-weight: 900;">
                                        
                        3
                    </div>
                    <div style="text-align: center;color: #5690F0;font-size: x-large;">
                                        
                        Disfruta<br /> tu dinero
                    </div>
                </div>
                            
             </div>

            <div class="col-xs-4 col-sm-4 col-md-4" style="margin-top: 30px;">
                 <div style="vertical-align: middle;display: table-cell;">      
  
                    <div style="text-align: center;color: black;font-size: large;">
                                        
                        Elige cosas que usas poco y que desees compartir. Si tienes poco tiempo, usa imágenes de internet como referencia.
                    </div>
                </div>
                            
             </div>
             <div class="col-xs-4 col-sm-4 col-md-4" style="margin-top: 30px;" >
                 <div style="vertical-align: middle;display: table-cell;">   
  
                    <div style="text-align: center;color: black;font-size: large;">
                                        
                        Queremos que te sientas seguro en todo momento. Por eso tú eliges los requisitos, el monto de la garantía y las condiciones del alquiler.
                    </div>
                </div>
                            
             </div>
             <div class="col-xs-4 col-sm-4 col-md-4" style="margin-top: 30px;">
                 <div style="vertical-align: middle;display: table-cell;">      
 
                    <div style="text-align: center;color: black;font-size: large;">
                                        
                        Pronto tendrás tu artículo de nuevo en casa. Ya estás listo para la llegada de un nuevo alquiler.
                    </div>
                </div>
                            
             </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="margin-top: 30px;text-align:center">
                @Html.ActionLink("Publicar ahora", "CreateProduct", "Home", null, new { @class = "le-button" })
            </div>*@
            <!-- /.panel-group -->
        </section>

    </div><!-- /.container -->
</main><!-- /.inner-bottom-md -->

    </div>
    </div>

<!-- ========================================= MAIN : END ========================================= -->     
        <!-- ============================================================= FOOTER ============================================================= -->


