@{
    ViewBag.Title = "Contacto";
    //Layout = null;
}


 <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TWFS7T"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
        'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
    '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-TWFS7T');</script>
    <!-- End Google Tag Manager -->

<!-- BEGIN BODY REAL -->
    <div class="container-fluid" >        
       <div class="row top-backimage">
       		<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
            	
       		</div>
       </div>
       <div class="row">
       		<div class="col-lg-8 col-lg-offset-3 col-md-8 col-md-offset-4 col-sm-12 col-xs-12">
            	<h2>CONTACTANOS</h2>
            </div>
       </div>
       <hr>
     <div class="row">
     	<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        
        </div>
     	<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
        
        	
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <form>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-bottom">
                <label for="nombew">NOMBRE</label><br>
                <input type="text" placeholder="Nombre" id="nombre" style="width: 100%;" class="le-input" />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  margin-bottom">
                <label>E-MAIL</label><br>
                <input type="text" placeholder="E-mail" style="width: 100%;" class="le-input"/>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label>ASUNTO</label><br>
                <input type="text" placeholder="Asunto" style="width: 100%;" class="le-input"/>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top">
                <label>TU MENSAJE</label><br>
                <textarea  placeholder="Dejanos tu mensaje..." rows="5" style="width: 100%;" class="le-input"></textarea>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top">
                    <input type="button" value="Enviar" class="le-button"/>
                </div>
            </form>
        </div>
        
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        
        </div>
     </div>
     
     
	</div>

   
<!-- END BODY REAL -->
