
  <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TWFS7T"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
        'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
    '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-TWFS7T');</script>
    <!-- End Google Tag Manager -->
    
    <div class="wrapper">

      

        <!-- ============================================================= TOP NAVIGATION ============================================================= -->

<!-- ============================================================= TOP NAVIGATION : END ============================================================= -->       
<!-- ============================================================= HEADER ============================================================= -->

<!-- ============================================================= HEADER : END ============================================================= --><div class="animate-dropdown"><!-- ========================================= BREADCRUMB ========================================= -->
  
        <!-- ========================================= MAIN ========================================= -->
<main id="faq" class="inner-bottom-md">
    <div class="container">
        
         <section class="section">
            <div class="page-header">
                @*<h2 class="page-title">Preguntas frecuentes</h2>*@
                <h2 class="page-title" style="color:black">Preguntas frecuentes</h2>
                @*<p class="page-subtitle">Ultima actualización 18 de Julio del 2015</p>*@
            </div>
            <div id="questions" class="panel-group panel-group-faq">
                
                <div class="panel panel-faq" style="opacity: 0.9;">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#questions" href="#collapse1">
                                ¿Mejor lo alquilo cobra comisiones por las transacciones?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            Actualmente no se cobran comisiones. Sólo debes pagar lo acordado con el usuario que te alquila el artículo.
                        </div>
                    </div>
                </div><!-- /.panel-faq -->
                
                <div class="panel panel-faq" style="opacity: 0.9;">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#questions" href="#collapse2">
                                Qué artículos publicar?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse in">
                        <div class="panel-body">
                            Aquellos que estén en buen estado de conservación y funcionamiento.
                        </div>
                    </div>
                </div><!-- /.panel-faq -->
                <div class="panel panel-faq" style="opacity: 0.9;">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#questions" href="#collapse3">
                                En qué categorías hay mayores oportunidades?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse in">
                        <div class="panel-body">
                            - Deportes y accesorios.<br />
                            - Instrumentos musicales.<br />
                            - Libros.<br />
                            - Fotografía y accesorios.<br />
                            - Viajes.<br />
                            - Electrónica (celulares de media y alta gama).<br />
                            - Camping y pesca.
                        </div>
                    </div>
                </div><!-- /.panel-faq -->
                <div class="panel panel-faq" style="opacity: 0.9;">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#questions" href="#collapse4">
                                Qué garantías tengo?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse in">
                        <div class="panel-body">
                            Quienes publiquen podrán estipular una garantía en dinero así como también los requisitos que considere indispensables para sentirse seguro.<br />Por ejemplo: Cédula de identidad, constancia de domicilio, ser miembro de alguna organización, otros.<br />
                            Podrán, si lo desean, descargar un modelo genérico de <a href="@Url.Content("~/assets/docs/ContratoArrendamiento.doc")">contrato de arrendamiento</a>.
                        </div>
                    </div>
                </div><!-- /.panel-faq -->
                <div class="panel panel-faq" style="opacity: 0.9;">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#questions" href="#collapse5">
                                Cuánto es una garantía razonable / Cuánto pido de garantía?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse in">
                        <div class="panel-body">
                            Estipula el monto con el cual te sientas seguro/a.  Un monto razonable puede ir de un 0% hasta un 75% del valor de compra.
                        </div>
                    </div>
                </div><!-- /.panel-faq -->
                
                <div class="panel panel-faq" style="opacity: 0.9;">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#questions" href="#collapse6">
                                Qué precio le pongo a mi artículo?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse in">
                        <div class="panel-body">
                            Si es por día o por fin de semana te recomendamos entre un 5% y 35 % del valor de compra en el mercado local.<br />
                            Si es por semana entre un 25% y 40%.
                        </div>
                    </div>
                </div><!-- /.panel-faq -->
                <div class="panel panel-faq" style="opacity: 0.9;">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#questions" href="#collapse7">
                                Existe un rango de valor para los artículos que voy a publicar?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse7" class="panel-collapse collapse in">
                        <div class="panel-body">
                            De aproximadamente $ 1000 (pesos uruguayos) en adelante.
                        </div>
                    </div>
                </div><!-- /.panel-faq -->
                
                <div class="panel panel-faq" style="opacity: 0.9;">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#questions" href="#collapse8">
                                Qué artículos NO es recomendable publicar?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse8" class="panel-collapse collapse in">
                        <div class="panel-body">
                            1 - Aquellos con fuerte apego sentimental.<br />
                    2 - Los que utilizas a diario.
                        </div>
                    </div>
                </div><!-- /.panel-faq -->
                
                
            </div><!-- /.panel-group -->
        </section><!-- /.section -->


    </div><!-- /.container -->
</main><!-- /.inner-bottom-md -->
<!-- ========================================= MAIN : END ========================================= -->     
        <!-- ============================================================= FOOTER ============================================================= -->
