@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Bienvenido a MejorLoAlquilo</title>
</head>
<body>
    <h1>¿Que deseas hacer?</h1>
    <div>
        @Html.ActionLink("ALQUILAR","BuscadorSimple","Home")
    </div>
    <div>
        @Html.ActionLink("PUBLICAR","CreateProduct","Home")
    </div>
</body>
</html>
