@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>ModoBasico</title>
</head>
<body>
    <h1>¿Que deseas hacer?</h1>
    <div>
        @Html.ActionLink("ALQUILAR","BuscadorSimple","Home") 
        
    </div>
    <div>
        
    </div>


</body>
</html>
