 <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TWFS7T"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
        'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
    '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-TWFS7T');</script>
    <!-- End Google Tag Manager -->
	
<div class="wrapper">

   

		<!-- ============================================================= TOP NAVIGATION ============================================================= -->

<!-- ============================================================= TOP NAVIGATION : END ============================================================= -->		
    <!-- ============================================================= HEADER ============================================================= -->

<!-- ============================================================= HEADER : END ============================================================= -->		
    <main id="faq" class="inner">
	<div class="container">
		<div class="row">
			<div class="col-md-8 center-block">
				<div class="info-404 text-center">
					<h1 class="primary-color inner-bottom-xs">¿Qué es Mejor lo alquilo?</h1>
					
</div>
                <div class="info-404 text-left">
                    <p class="lead" style="text-align: center;">
                    
                        <strong class="primary-color inner-bottom-xs">1</strong> Tu lugar para alquilar todo aquello que necesitas pero no deseas comprar en el momento.
<br><br><strong class="primary-color inner-bottom-xs">2</strong> El sitio perfecto para rentabilizar esas cosas que ya no utilizas o que usas 2 o 3 veces al año.
<br><br><strong class="primary-color inner-bottom-xs">3</strong> La mejor opción para liberar espacio en casa.

                    
                   <br> </p><br>
</div>
                <div class="info-404 text-center">
<p class="lead" >¿Tienes un montón de cosas que no usas más? ¿Las compraste porque no tuviste otra opción? ¿Por antojo o porque pensabas que le darías más uso?    ¿Y ahora solo te ocupan lugar?
                                           	<br><br>Publicá en mejorloalquilo.com y recupera el 100% de lo que te costó el artículo, e incluso más</p>

</div>
                <div class="info-404 text-center">
                    <p class="lead">

                        ¿Cajas llenas de cosas que ocupan espacio y acumulan polvo?
¡No hay problema! Consúltanos sobre nuestro <a href="@Url.Content("~/Home/BannerServicioPremium")">Servicio Premium</a> 
                    </p>
                    
                    @*<p class="lead">
<strong class="primary-color inner-bottom-xs">1</strong> Tu Comunidad  donde obtener  aquello que necesitas usar y no deseas comprar.
<br><br><strong class="primary-color inner-bottom-xs">2</strong> Tu lugar donde ganar dinero extra con lo que ya tienes en casa!
<br><br><strong class="primary-color inner-bottom-xs">3</strong> Para salir de un apuro,  para cuando quieres probar...para lo que vos quieras!
 <br></p><br>
                    </div>
                <div class="info-404 text-center">
<p class="lead">Tienes cosas que solo usas una vez cada tanto ? Las compraste porque no tuviste otra opción ? Estas cansado/a de pedir prestado ? Cada vez tenes menos espacio en tu casa ?
                                           	<br><br>Publica en MejorLoAlquilo</p>*@
                    

                    
					<div class="text-center">
						<a href="@Url.Content("~/Home/Index")" class="btn-lg huge"><i class="fa fa-home"></i> Home</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>		<!-- ============================================================= FOOTER ============================================================= -->
    </div>