
   <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TWFS7T"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
        'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
    '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-TWFS7T');</script>
    <!-- End Google Tag Manager -->
    
    <div class="wrapper">

     

        <!-- ============================================================= TOP NAVIGATION ============================================================= -->

<!-- ============================================================= TOP NAVIGATION : END ============================================================= -->       
<!-- ============================================================= HEADER ============================================================= -->

<!-- ============================================================= HEADER : END ============================================================= --><div class="animate-dropdown"><!-- ========================================= BREADCRUMB ========================================= -->
  
        <!-- ========================================= MAIN ========================================= -->
<main id="faq" class="inner-bottom-md">
    <div class="container">
        
        <section class="section">
            <div class="page-header">
                <h2 class="page-title">Recomendaciones</h2>
                <p class="page-subtitle">Ultima actualizacion 14 de Abril del 2015</p>
            </div>
            <div id="questions" class="panel-group panel-group-faq">
                <div class="panel panel-faq">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#questions" href="#collapseOne">
                                RECOMENDACIONES PARA  ALQUILAR
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            - Cuentale al propietario algo sobre ti y los motivos por el cual necesitas su artículo. Dile cuanto te ayudaría poder usarlo. Se amable y da la gracias. 
                            <br>- Busca primero los artículos de usuarios que residan o trabajen cerca de tu locación habitual.

                        </div>
                    </div>
                </div><!-- /.panel-faq -->

                <div class="panel panel-faq">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#questions" class="collapsed" href="#collapseTwo">
                                RECOMENDACIONES PARA EL QUE PUBLICA
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            - Intercambia varios mensajes antes de aceptar una reserva. Preguntale todo lo que necesites  saber sobre el/ella y sobre la actividad que va a desempeñar con tu artículo hasta sentirte seguro que es un usuario confiable.
                            <br>- En caso que se requiera instrucciones de uso tomate el tiempo de enseñarle en persona y luego pídele que demuestre que  ha comprendido todos los pasos pertinentes. Si lo crees necesario puedes pedirle que filme con su celular el procedimiento. De esta forma te aseguras el buen uso del mismo.
                        </div>
                    </div>
                </div><!-- /.panel-faq -->

                <div class="panel panel-faq">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#questions" class="collapsed" href="#collapseFour">
                                COMO PUBLICAR  
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                           1 Registrate con datos verificables	
                            <br>2 Da clic en PUBLICAR situado arriba a la derecha
                        </div>
                    </div>
                </div><!-- /.panel-faq -->

            </div><!-- /.panel-group -->
        </section><!-- /.section -->

    </div><!-- /.container -->
</main><!-- /.inner-bottom-md -->
<!-- ========================================= MAIN : END ========================================= -->     
        <!-- ============================================================= FOOTER ============================================================= -->
