@model IEnumerable<MvcApplication4.Models.Productos>

@{
    Layout = null;
}

<h2>Visitas por publicacion</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Usuarios Confirmados", "ListarUsuarios")*@
</p>
<<table>
    <tr>
        <th>
            Producto
        </th>
        <th>
            Cantidad de visitas
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantVisitas)
        </td>
        
    </tr>
}

</table>

