@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>SeleccionModo</title>
</head>
<body>
    <div>
        @Html.ActionLink("Modo Basico","ModoBasico","Home")
    </div>
    <div>
        @Html.ActionLink("Modo Avanzado","ModoAvanzado","Home")
    </div>
</body>
</html>
